// START header //

.header {
    background-color: $dark-text-color;
    color: $white-brand-color;
    padding-top: 21px;
    padding-bottom: 21px;
    position: sticky;
    top: 0;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.32);
    z-index: 5;
}

@media screen and (min-width: $tablet-width) {
    .header {
        padding-top: 41px;
        padding-bottom: 41px;
    }
}

.mobile-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    @media screen and (min-width: $desktop-width) {
        display: none;
    }
}

.desktop-header {
    @media screen and (max-width: $desktop-width) {
        display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 19px;

    span {
        display: inline-block;
        margin-top: 3px;
        margin-left: 5px;
        font-size: 24px;
    }
}

.header-links {
    display: flex;
    justify-content: space-between;
}

.desktop-header .header-buttons {
    display: flex;
}

.desktop-header .header-buttons .book-now {
    margin-left: 8px;
}

// END header //