.nav {
    display: flex;
    width: 320px;
    max-width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -320px;
    transition: left 300ms ease;
    background-color: $dark-text-color;
    color: $white-brand-color;
    z-index: 2000;
    padding: 64px 16px;

    .menu-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        & .header-logo {
            padding-bottom: 28px;
        }
        & .home-link {
            padding: 0px 0px 0px 0px;
            line-height: 48px;
        }
    }
}

.menu-mobile-links {
    margin-left: 40px;
}

/* Plan B!
.mobile-link {
    display: block;
    position: relative;
    padding: 16px 0;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -9px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        transform: translateY(-3px);
    }

    &.active {
        font-weight: 600;
        color: $main-brand-color;
        &:before {
            background-color: $main-brand-color;
        }
        
    }
}
*/

.menu-button {
    cursor: pointer;
    line-height: 1;
    z-index: 2001;
    position: absolute;
    left: 335px;
    top: 26px;
    @media screen and (min-width: $tablet-width) {
        position: absolute;
        left: 355px;
        top: 46px;
    }
    @media screen and (min-width: $desktop-width) {
        display: none;
    }
}

[id='menu-button'] {
    position: absolute;
    height: 0;
    width: 0;
}

[id='menu-button']:checked ~ .nav>.menu-button {
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
}

[id='menu-button']:checked ~ .nav {
    left: 0;
}

[id='menu-button']:checked ~ .nav > .menu-button::after {
    content: url(../icons/close_white.svg);
    display: block;
    position: absolute;
    left: -70px;
    top: 6px;
    visibility: visible;
    @media screen and (min-width: $tablet-width) {
        left: -90px;
        top: -15px;
    }
}

.mobile-header-buttons {
    margin-top: auto;
    button {
        width: 100%;
    }
    & > button:last-child {
        margin-top: 16px;
    }
}

@media screen and (min-width: $tablet-width) {
    .header-buttons > button {
        width: 100%;
        padding: 16px auto 16px auto;
        white-space: nowrap;
    }
}