@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.ttf") format("ttf");
}

$main-bg-color: #E5E5E5;
$main-brand-color: #FF7A00;
$white-brand-color: #FFFFFF;
$light-brand-color: #FFF2E5;
$light-text-color: #FFF1E3;
$dark-text-color: #222222;
$hover-button-color: #DA6401;
$dark-grey-color: #9A9A9A;
$grey-color: #DFDFDF;
$light-grey-color: #DFDFDF;
$text-color: #C4C4C4;
$hover-button-color1: #3d3a37;
$hover-button-color2: #FFE8D1;

$tablet-width: 769px;
$desktop-width: 1200px;

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-weight: 700;
    padding-bottom: 16px;
    color: $main-brand-color;
}
.capitalized {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}